html, body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background-color: #eee;
	color: #444;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}
