.footer {
  display: none;
}

@media screen and (min-width: 780px) {
  .footer {
    bottom: 20px;
    display: block;
    font-size: small;
    left: 50%;
    position: fixed;
    transform: translateX(-50%);
  }
  .footer a {
    text-decoration: none;
  }
}
