.converter {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2vmin;
  margin-bottom: calc(20px + 2vmin);
}

.converter input {
  border-radius: 50px;
  border: 4px solid purple;
  box-shadow: 0 0 0 rgba(0,0,0,0);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: calc(16px + 3vmin);
  margin: 3vmin 0;
  max-width: 60%;
  padding: calc(5px + 0.5vmin) calc(10px + 0.5vmin);
  text-align: center;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  width: 200px;
}

@media screen and (min-width: 780px) {
  .converter input {
    margin: calc(20px + 3vmin) 0;
  }
}

.converter input:focus {
  border-color: purple;
  box-shadow: 0 0 0 calc(10px + 0.5vmin) rgba(133, 103, 214, 0.1);
  outline: 0;
}

.inputResult {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.inputResult span {
  padding: 2vmin;
  font-size: calc(16px + 3vmin);
}

@media screen and (min-width: 780px) {
  .inputResult {
    flex-direction: row;
  }
}

p.output {
  color: purple;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: calc(16px + 3vmin);
  line-height: 1;
  margin: 3vmin 0;
  max-width: 300px;
  text-align: center;
}

@media screen and (min-width: 780px) {
  .output {
    font-size: calc(16px + 3vmin);
  }
}
